.box1{
    display: flex
    ;
        justify-content: center;
}
.inp{
    width: 40%;
    height: 2rem;
    border-radius: 2rem 0 0  2rem;
}
.btn{
    font-family:tahoma;
    font-size: 16px;
    width: 10%;
    border-radius:  0 2rem 2rem 0;
}