
.box1 {
    display: flex;
    justify-content: center;
    margin-top: 20%;
}
.box2{
    display: flex;
    justify-content: center;
}

.inp {
    background-color: rgb(65, 65, 255);
    width: 40%;
    border: 1px solid white;
    height: 100px;
    color: white;
    font-size: 40px;
    border-radius: 2rem 0 0 2rem;
}

.btn {
    color: white;
    background-color: rgb(0, 0, 255);
    font-family: tahoma;
    font-size: 40px;
    width: 10%;
    height: 104px;
    border: 1px solid white;
    border-radius: 0 2rem 2rem 0;
}